﻿<!DOCTYPE html>
<html>
<head>
    <link href="common.css" rel="stylesheet" />
    <script src="angular-1.6.6/angular.js"></script>
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">
        function Customer($scope) {
            $scope.HeaddingText = "Customer Application";
            $scope.CustomerCode = "C1000";
            $scope.CustomerAmount = 100;
            $scope.CustomerName = "Sukesh Chandh R";
            $scope.TestColor = "red";

            $scope.testClick = function() {
                alert("Customer Code is : " + $scope.CustomerCode);
            }
            $scope.$watch("CustomerAmount", function() {
                if ($scope.CustomerAmount > 100) {
                    $scope.TestColor = "Red";
                } else {
                    $scope.TestColor = "Green";
                }
            });

        }

        var myApp = angular.module("myApp", []);
        myApp.controller("CustomerController", Customer);

    </script>
    
</head>
<body ng-app="myApp">
<div ng-controller="CustomerController">
    <span class="bold">CustomerController - 1</span>
    <br />
    <br /><br />
    <span class="bold u" ng-bind="::HeaddingText"></span><br/><br />
    Customer Code: <input type="text" ng-model="CustomerCode"/> <span class="red code">$scope.CustomerCode</span>
    <br/>
    <br/>
    Customer Name: <input type="text" ng-model="CustomerName"/> <span class="red code">$scope.CustomerName</span>
    <br/>
    <br/>
    Customer Amount: <input type="text" ng-model="CustomerAmount" /> - <input type="text" style="background-color: {{TestColor}}" /> <span class="red code">$scope.CustomerAmount - Watching Customer Amount</span>
    <br />
    <br />
    <span class="bold">Expression</span>
    <br/>
    {{CustomerCode}} - <span class="red code"><span>{{</span>CustomerCode<span>}}</span></span>
    <BR/>
    {{CustomerName}} - <span class="red code"><span>{{</span>CustomerName<span>}}</span></span>
    <br/>
    <br/>
    <span class="bold">ng-bind</span>   
    <br/>
    <span ng-bind="CustomerCode"></span> - <span class="red code"> &lt;span ng-bind=&quot;CustomerCode&quot;&gt;&lt;/span&gt;</span>
    <br/>
    <span ng-bind="CustomerName"></span> - <span class="red code">&lt;span ng-bind=&quot;CustomerName&quot;&gt;&lt;/span&gt;</span>
    <br />
    <br />
    <input type="button" value="Click me" ng-click="testClick()"/> <span class="red code">&lt;input type=&quot;button&quot; value=&quot;Click me&quot; ng-click=&quot;testClick()&quot;/&gt;</span>
    <br />
</div>
<hr />
<div ng-controller="CustomerController">
    <span class="bold">CustomerController - 2</span>
    <br />
    Customer Code: <input type="text" ng-model="CustomerCode"/> <span class="red code">$scope.CustomerCode</span>
    <br/>
    <br/>
    Customer Name: <input type="text" ng-model="CustomerName"/> <span class="red code">$scope.CustomerName</span>
    <br/>
    <br/>
    <span class="bold">Expression</span>
    <br/>
    {{::CustomerCode}} - <span class="red code"><span>{{</span>::CustomerCode<span>}} - One time watcher by putting :: - Only updates once</span></span>
    <BR/>
    {{CustomerName}} - <span class="red code"><span>{{</span>CustomerName<span>}}</span></span>
    <br/>
    <br/>
    <span class="bold">ng-bind</span>
    <br/>
    <span ng-bind="CustomerCode"></span> - <span class="red code"> &lt;span ng-bind=&quot;CustomerCode&quot;&gt;&lt;/span&gt;</span>
    <br/>
    <span ng-bind="::CustomerName"></span> - <span class="red code">&lt;span ng-bind=&quot;::CustomerName&quot;&gt;&lt;/span&gt; - One time watcher by putting :: - Only updates once</span>
</div>
</body>
</html>