﻿<!DOCTYPE html>
<html>
<head>
    <link href="common.css" rel="stylesheet" />
    <script src="angular-1.6.6/angular.js"></script>
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">

        function Customer() {
            this.HeaddingText = "Customer Application";
            this.CustomerCode = "C1000";
            this.CustomerAmount = 100;
            this.CustomerName = "Sukesh Chandh R";
        }

        function BindingCodeController($scope, customerObjectService) {
            $scope.Customer = customerObjectService;

            $scope.TestColor = "red";

            
            $scope.testClick = function() {
                alert("Customer Code is : " + $scope.Customer.CustomerCode);
            }
            $scope.$watch("Customer.CustomerAmount", function () {
                if ($scope.Customer.CustomerAmount > 100) {
                    $scope.TestColor = "Red";
                } else {
                    $scope.TestColor = "Green";
                }
            });

        }

        var myApp = angular.module("myApp", []);
        myApp.controller("BindingCodeController", BindingCodeController);
        myApp.service("customerObjectService", Customer);

    </script>
    
</head>
<body ng-app="myApp">
<div ng-controller="BindingCodeController">
    <span class="bold">CustomerController - Move Customer class into service - Create only one instance of Customer </span>
    <br />
    <br /><br />
    <span class="bold u" ng-bind="::HeaddingText"></span><br/><br />
    Customer Code: <input type="text" ng-model="Customer.CustomerCode"/> <span class="red code">$scope.Customer.CustomerCode</span>
    <br/>
    <br/>
    Customer Name: <input type="text" ng-model="Customer.CustomerName"/> <span class="red code">$scope.Customer.CustomerName</span>
    <br/>
    <br/>
    Customer Amount: <input type="text" ng-model="Customer.CustomerAmount" /> - <input type="text" style="background-color: {{TestColor}}" /> <span class="red code">$scope.Customer.CustomerAmount - Watching Customer Amount</span>
    <br />
    <br />
    <input type="button" value="Click me" ng-click="testClick()"/> <span class="red code">&lt;input type=&quot;button&quot; value=&quot;Click me&quot; ng-click=&quot;testClick()&quot;/&gt;</span>
    <br />
    <span class="bold">Expression</span>
    <br/>
    {{::Customer.CustomerCode}} - <span class="red code"><span>{{</span>::Customer.CustomerCode<span>}} - One time watcher by putting :: - Only updates once</span></span>
    <BR/>
    {{Customer.CustomerName}} - <span class="red code"><span>{{</span>Customer.CustomerName<span>}}</span></span>
    <br/>
    {{Customer.CustomerAmount}}
    <br/>
    <br/>
    <span class="bold">ng-bind</span>
    <br/>
    <span ng-bind="Customer.CustomerCode"></span> - <span class="red code"> &lt;span ng-bind=&quot;Customer.CustomerCode&quot;&gt;&lt;/span&gt;</span>
    <br/>
    <span ng-bind="::Customer.CustomerName"></span> - <span class="red code">&lt;span ng-bind=&quot;::Customer.CustomerName&quot;&gt;&lt;/span&gt; - One time watcher by putting :: - Only updates once</span>
</div>
<hr />
    <div ng-controller="BindingCodeController">
        <span class="bold">CustomerController - Move Customer class into service</span>
        <br />
        <br /><br />
        <span class="bold u" ng-bind="::HeaddingText"></span><br /><br />
        Customer Code: <input type="text" ng-model="Customer.CustomerCode" /> <span class="red code">$scope.Customer.CustomerCode</span>
        <br />
        <br />
        Customer Name: <input type="text" ng-model="Customer.CustomerName" /> <span class="red code">$scope.Customer.CustomerName</span>
        <br />
        <br />
        Customer Amount: <input type="text" ng-model="Customer.CustomerAmount" /> - <input type="text" style="background-color: {{TestColor}}" /> <span class="red code">$scope.Customer.CustomerAmount - Watching Customer Amount</span>
        <br />
        <br />
        <input type="button" value="Click me" ng-click="testClick()" /> <span class="red code">&lt;input type=&quot;button&quot; value=&quot;Click me&quot; ng-click=&quot;testClick()&quot;/&gt;</span>
        <br />
        <span class="bold">Expression</span>
        <br />
        {{::Customer.CustomerCode}} - <span class="red code"><span>{{</span>::Customer.CustomerCode<span>}} - One time watcher by putting :: - Only updates once</span></span>
        <BR />
        {{Customer.CustomerName}} - <span class="red code"><span>{{</span>Customer.CustomerName<span>}}</span></span>
        <br />
        {{Customer.CustomerAmount}}
        <br />
        <br />
        <span class="bold">ng-bind</span>
        <br />
        <span ng-bind="Customer.CustomerCode"></span> - <span class="red code"> &lt;span ng-bind=&quot;Customer.CustomerCode&quot;&gt;&lt;/span&gt;</span>
        <br />
        <span ng-bind="::Customer.CustomerName"></span> - <span class="red code">&lt;span ng-bind=&quot;::Customer.CustomerName&quot;&gt;&lt;/span&gt; - One time watcher by putting :: - Only updates once</span>
    </div>
</body>
</html>