﻿<!DOCTYPE html>
<html>
<head>
    <link href="common.css" rel="stylesheet" />
    <script src="angular-1.6.6/angular.js"></script>
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">

        function Customer() {
            this.HeaddingText = "Customer Application";
            this.CustomerCode = "C1000";
            this.CustomerAmount = 100;
            this.CustomerName = "Sukesh Chandh R";
        }

        function BindingCodeController($scope, customerObjectService, $http) {
            $scope.Customer = customerObjectService;

            $scope.TestColor = "red";

            
            $scope.testClick = function() {
                $http.post("http://angular1.api/api/Customer", $scope.Customer).
                    then(function (response) {
                        $scope.Customer = response.data;
                    }, function (response) {
                        alert(response.data);
                    });
            }
        }

        var myApp = angular.module("myApp", []);
        myApp.controller("BindingCodeController", BindingCodeController);
        myApp.service("customerObjectService", Customer);

    </script>
    
</head>
<body ng-app="myApp">
<div ng-controller="BindingCodeController">
    <span class="bold">CustomerController - Move Customer class into service - Create only one instance of Customer </span>
    <br />
    <br /><br />
    <span class="bold u" ng-bind="::HeaddingText"></span><br/><br />
    Customer Code: <input type="text" ng-model="Customer.CustomerCode"/> <span class="red code">$scope.Customer.CustomerCode</span>
    <br/>
    <br/>
    Customer Name: <input type="text" ng-model="Customer.CustomerName"/> <span class="red code">$scope.Customer.CustomerName</span>
    <br/>
    <br/>
    Customer Amount: <input type="text" ng-model="Customer.CustomerAmount" /> <span class="red code">$scope.Customer.Amount</span>
    <br />
    <br />
    <input type="button" value="Click me" ng-click="testClick()"/> <span class="red code"></span>
</div>
    
</body>
</html>