﻿<!DOCTYPE html>
<html>
<head>
    <link href="common.css" rel="stylesheet" />
    <script src="angular-1.6.6/angular.js"></script>
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">

        function CopyRight1() {
            var directive = {};
            directive.template = "CopyRight - Attribute 2016-2017";
            directive.restrict = "A"; //only attribute
            return directive;
        }

        function CopyRight2() {
            var directive = {};
            directive.template = "CopyRight - Element 2016-2017";
            directive.restrict = "E"; //only element
            return directive;
        }

        function CopyRight3() {
            var directive = {};
            directive.restrict = "EA"; //element and attribute
            directive.templateUrl = "usercontrol.html"; // specified html template
            return directive;
        }

        function CopyRight4() {
            var directive = {};
            directive.restrict = "EA";
            directive.templateUrl = "usercontrol.html";
            directive.scope = {}; //sepearte scope
            return directive;
        }

        function CopyRight5() {
            var directive = {};
            directive.restrict = "EA";
            directive.templateUrl = "usercontrol2.html";
            directive.scope = {
                copyRightText: "@" //oneway binding
            }; //sepearte scope
            return directive;
        }

        function CopyRight6() {
            var directive = {};
            directive.restrict = "EA";
            directive.templateUrl = "usercontrol3.html";
            directive.scope = {
                copyRightText: "=", //two way binding
                editField1: "=", //two way binding
                anyMethod: "&", //for invoke methods
         
            }; //sepearte scope
            return directive;
        }
      
        function BindingCodeController($scope) {
            $scope.CopyRightText = "CopyRight - Element 2016-2017 (data from main controlle's $scope)";
            $scope.editField1 = "edit field 1 data";
            $scope.clickMe = function() {
                alert('Click me');
            }
        }

        var myApp = angular.module("myApp", []);
        myApp.controller("BindingCodeController", BindingCodeController);
        myApp.directive("companyCopyRight1", CopyRight1); // normal 
        myApp.directive("companyCopyRight2", CopyRight2);
        myApp.directive("companyCopyRight3", CopyRight3);
        myApp.directive("companyCopyRight4", CopyRight4);
        myApp.directive("companyCopyRight5", CopyRight5);
        myApp.directive("companyCopyRight6", CopyRight6);
    </script>

</head>
<body ng-app="myApp">
<div ng-controller="BindingCodeController">
    <div>
        Main Controller data
    </div>
    <div ng-bind="CopyRightText"></div>
    <div ng-bind="editField1"></div>
    <div>
        <input type="button" ng-click="clickMe()" value="Click me"/>
    </div>
    <hr />
    <div>
        
        <div>only attribute</div>
        <span company-copy-right1></span> <span class="code red">attribute</span>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>only element</div>
        <company-copy-right2/>
        <br/>
        <br/>
        <br/>
    </div>
    <div>
        <br/>
        <br/>
        <br/>
        <div>element and attribute + html template</div>
        <company-copy-right3></company-copy-right3>
        <br/>
    </div>
    <div>
        <br/>
        <br/>
        <br/>
        <div>separate scope + html template</div>
        <company-copy-right4 ></company-copy-right4>
    </div>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>separate scope + oneway binding</div>
        <company-copy-right5 copy-right-text="{{CopyRightText}}"></company-copy-right5>
    </div>

    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>separate scope + two binding + passing click</div>
        <company-copy-right6 edit-field1="editField1" copy-right-text="CopyRightText" any-method="clickMe()"></company-copy-right6>
    </div>
</div>
</body>
</html>