﻿<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/jquery-3.2.1.js"></script>
    <link href="common.css" rel="stylesheet" />
    <script src="angular-1.6.6/angular.js"></script>
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">
        
        function BindingCodeController($scope) {
            $scope.Name = "test name";
            $scope.changeMe = function() {
                var txtRef = $("#txt1");
                var scope = angular.element(txtRef).scope();
                scope.Name = "Changed via jquery";
                //scope.$apply();
            }
        }

        var myApp = angular.module("myApp", []);
        myApp.controller("BindingCodeController", BindingCodeController);
    </script>

</head>
<body ng-app="myApp">
<div ng-controller="BindingCodeController">
    <div>
        <input type="text" id="txt1" ng-model="Name" />
        <br/>
        <span ng-bind="Name"></span>
        <br/>
        <input type="button" ng-click="changeMe()" value="Change" />
    </div>
</div>
</body>
</html>