﻿<!DOCTYPE html>
<html>
<head>
    <script src="angular-1.6.6/angular.js"></script>
    <link href="common.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">

        function CustomerController() {
            this.CustomerName = "Customer Name";
        }
        function ProductController() {
            this.ProductName = "Product Name";
        }

        var myApp = angular.module("myApp", []);
        myApp.controller("CustomerController", CustomerController);
        myApp.controller("ProductController", ProductController);
    </script>

</head>
<body ng-app="myApp">
    <div ng-controller="CustomerController as CustomerCtrl">
        <hr />
        Customer Controller <br />
        <br />
        Customer Name : <input type="text" ng-model="CustomerCtrl.CustomerName" />
        <br />
        <br />
        <br />
        <br />
        <div ng-controller="ProductController  as ProductCtrl1">
            <hr />
            Product Controller - 1 <br />
            Customer Name : <input type="text" ng-model="CustomerCtrl.CustomerName" />
            <br />
            <br />
            <br />
            Product Name  1: <input type="text" ng-model="ProductCtrl1.ProductName" />
            <br/>
            <div ng-controller="ProductController  as ProductCtrl2">
                <hr />
                Product Controller - 2 <br />
                Customer Name : <input type="text" ng-model="CustomerCtrl.CustomerName" />
                <br />
                <br />
                <br />
                Product Name 1: <input type="text" ng-model="ProductCtrl1.ProductName" />
                <br />
                <br />
                Product Name 2: <input type="text" ng-model="ProductCtrl2.ProductName" />
            </div>
        </div>
    </div>
</body>
</html>