﻿<!DOCTYPE html>
<html>
<head>
    <script src="angular-1.6.6/angular.js"></script>
    <link href="common.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">

        function CustomerController() {
            this.CountryGroup = [];
            this.CountryGroup.push("group 1");
            this.CountryGroup.push("group 2");
            this.CountryGroup.push("group 3");
            this.CountryGroup.push("group 4");
            this.CountryGroup.push("group 5");
            this.selectedCountryGroup = "group 2";


            this.selectedCountry = { value: "7", text: "Irland" };
            this.Country = [];
            this.Country.push({ value: "", text: "---Select---" });
            this.Country.push({ value: "1", text: "India" });
            this.Country.push({ value: "2", text: "Sreelanka" });
            this.Country.push({ value: "3", text: "Pakistan" });
            this.Country.push({ value: "4", text: "Sweden" });
            this.Country.push({ value: "5", text: "USA" });
            this.Country.push({ value: "6", text: "UK" });
            this.Country.push(this.selectedCountry);
            this.Country.push({ value: "8", text: "China" });
            }
        var myApp = angular.module("myApp", []);
        myApp.controller("CustomerController", CustomerController);
    </script>

</head>
<body ng-app="myApp">
    <div ng-controller="CustomerController as CustomerCtrl">
        Country group:
        <select ng-model="CustomerCtrl.selectedCountryGroup">
            <option value="">---Select---</option>
            <option ng-repeat="countryGroup in CustomerCtrl.CountryGroup" ng-value="countryGroup" ng-bind="countryGroup"></option>
        </select>
        <br />
       Selected Value : <span class="code red bold" ng-bind="CustomerCtrl.selectedCountryGroup"></span>
        <br />
        <span class="code red">&#x3C;select ng-model=&#x22;CustomerCtrl.selectedCountryGroup&#x22;&#x3E;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&#x3C;option value=&#x22;&#x22;&#x3E;---Select---&#x3C;/option&#x3E;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&#x3C;option ng-repeat=&#x22;countryGroup in CustomerCtrl.CountryGroup&#x22; ng-value=&#x22;countryGroup&#x22; ng-bind=&#x22;countryGroup&#x22;&#x3E;&#x3C;/option&#x3E;<br />
            &#x3C;/select&#x3E;</span>
        <br />
        <br />
        <hr/>
        <br />
        <div>
            <select ng-options="country.text for country in CustomerCtrl.Country track by country.value" ng-model="CustomerCtrl.selectedCountry" style="width: 250px">
            </select>
            <br/>
            <span>Selected Country:</span>
            <span class="bold red code" ng-bind="CustomerCtrl.selectedCountry"></span>
        </div>
    </div>
</body>
</html>