﻿<!DOCTYPE html>
<html>
<head>
    <script src="angular-1.6.6/angular.js"></script>
    <link href="common.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>001-Start</title>
    <script type="text/javascript">

        function CustomerController($scope) {
            $scope.countryGridQuery = "";
            var nearByCountry = { "CountryId": "7", "CountryCode": "007", "NearByCountry": {}, "CountryName": "Maldeevs" }
            $scope.Country = [];
            $scope.Country.push({});
            $scope.Country.push({ CountryId: "2", CountryCode: "003", NearByCountry: {}, CountryName: "Sreelanka" });
            $scope.Country.push({ CountryId: "3", CountryCode: "004", NearByCountry: {}, CountryName: "Pakistan" });
            $scope.Country.push({ CountryId: "4", CountryCode: "005", NearByCountry: {}, CountryName: "Sweden" });
            $scope.Country.push({ CountryId: "5", CountryCode: "006", NearByCountry: {}, CountryName: "USA" });
            $scope.Country.push({ CountryId: "1", CountryCode: "002", NearByCountry: {}, CountryName: "India" });
            $scope.Country.push({ CountryId: "6", CountryCode: "007", NearByCountry: nearByCountry, CountryName: "UK" });
            $scope.Country.push($scope.nearByCountry);
            $scope.Country.push({ CountryId: "8", CountryCode: "008", NearByCountry: {}, CountryName: "China" });

            $scope.countryGridSearch = function (filter) {
                if (!filter ||
                    (item.CountryCode.toLowerCase().indexOf(filter) != -1) ||
                    (item.CountryName.toLowerCase().indexOf(filter.toLowerCase()) != -1)) {
                    return true;
                }
                return false;
            };
        }


        var myApp = angular.module("myApp", []);
        myApp.controller("CustomerController", CustomerController);
    </script>

</head>
<body ng-app="myApp">
    <div ng-controller="CustomerController">

        <br />
        <div>
            <div style="padding: 10px 0 10px 0;">
                Search Country: <input type="text" ng-model="countryGridQuery" maxlength="25" style="width: 150px;" />
                {{countryGridQuery}}
            </div>
            <div style="height: 600px; overflow-x: hidden; overflow-y: scroll;">
                <table border="1">
                    <tr ng-repeat="country in Country | filter:countryGridSearch(countryGridQuery)">
                        <td style="width: 100px;" ng-bind="country.CountryId"></td>
                        <td style="width: 150px;" ng-bind="country.CountryCode"></td>
                        <td style="width: 200px;" ng-bind="country.CountryName"></td>
                        <td style="width: 300px;" ng-bind="country.NearByCountry"></td>
                        <td style="width: 300px;">
                            <select ng-options="country.CountryName for country in Country track by country.CountryId" ng-model="country.NearByCountry" style="width: 250px"></select>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</body>
</html>