﻿<div style="font-weight: bold;">User control with html page </div>
<div style="color: red;">{{copyRightText}}</div>
<div><input type="text" style="width: 450px;" ng-model="copyRightText" /></div>
<div><input type="text" style="width: 450px;" ng-model="editField1" /></div>
<div><input type="button" style="width: 100px;" ng-click="anyMethod()" value ="Click me"/></div>

